.card {
    width: 450px;
    height: auto; 
    margin: 10px auto; 
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s ease;

    &:hover {
        transform: translateY(-5px); 
        box-shadow: 0 0 12px rgba(0, 0, 0, 0.2);
    }
}

.link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.capa {
    width: 100%;
    height: auto;
    border-bottom: 1px solid #ccc;
}

h2 {
    font-size: 13px;
    margin: 10px;
    text-align: left;
}

.icons {
    display: flex; /* Alterado para flex */
    justify-content: flex-end; /* Alinha os ícones à direita */
    align-items: center; /* Centraliza verticalmente os itens */
    margin: 2px;
}

.icon {
    cursor: pointer;
    margin: 0 5px;
    transition: color 0.3s ease;

    &:hover {
        color: #007bff;
    }
}
